/* Dashboard.css */
.dashboard-container {
  background-color: #F0FFFF;
  min-height: 100vh;
  padding: 20px;
}

.app-bar {
  background-color: #364fbc;
}

.card {
  width: 5cm;
  height: 6cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin-top: 30px;
}

.card-hover:hover {
  transform: scale(1.05);
}

.card-icon {
  font-size: 2.5rem;
}

.card-info-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2; /* Ensure the icon is on top */
}

.grid-container {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .card {
    width: 4.5cm;
    height: 5.5cm;
  }
}

@media (min-width: 960px) {
  .card {
    width: 5cm;
    height: 6cm;
  }
}
