/* .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .open-modal-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #DE3163;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .open-modal-btn:hover {
    background-color: #a92b56;
  }
  .checkbox-group {
    margin-top: 5px;
  }
  
  .checkbox-item {
    margin-bottom: 10px;
  }
  
  .checkbox-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-item label {
    font-size: 14px;
  }
   */