/* Page Background Color */
body {
    background-color: #f5fbff;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header .menu-icon,
.header .account-icon {
    font-size: 24px;
    color: #003366;
    cursor: pointer;
}

.header .title {
    text-align: center;
    font-size: 20px;
    color: #003366;
    flex-grow: 1;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    z-index: 1000;
}

/* Left Sidebar */
.sidebar.left {
    left: -250px; /* Initially hidden on the left */
}

/* Right Sidebar */
.sidebar.right {
    right: -250px; /* Initially hidden on the right */
}

/* Sidebar content */
.sidebar-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-btn,
.sidebar-logout {
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: left;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-btn i,
.sidebar-logout i {
    margin-right: 10px;
}

.sidebar-logout {
    background-color: #DE3163;
    color: white;
}

.sidebar-btn:hover,
.sidebar-logout:hover {
    background-color: #dcdcdc;
}

.close-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
}

/* Active Sidebar State */
.sidebar.active {
    left: 0; /* Slide in from left */
}

.sidebar.right.active {
    right: 0; /* Slide in from right */
    left: auto; /* Ensure no conflict with left sidebar */
}

/* Styling for the Boxes */
.box {
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    color: #003366;
    font-family: Arial, sans-serif;
    margin: 0 25px 50px;
    text-align: center;
}

/* Flexbox container for boxes */
.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Ensure there are always 2 boxes per row */
.container-box .box {
    flex: 0 0 calc(50% - 50px);
}

/* Icon styling inside boxes */
.box i {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Info Icon Positioning */
.info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: #003366;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .box {
        flex: 0 0 calc(100% - 50px);
    }
}
